body.battery-container-body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f8f8f8;
}

.sidebar {
    width: 250px;
    background: #ffffff;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 60px;
    background: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.battery-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px 20px;
    padding: 20px;
    background-color: transparent;
    /* Changed to transparent */
    position: relative;
    overflow: hidden;
}

.battery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.battery {
    width: 100px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Değişiklik */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    /* Değişiklik */
    color: #34495e;
    font-weight: bold;
    border: 2px solid #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.battery:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.battery.clicked {
    background-color: #ffffff;
    color: #34495e;
}

.battery-number {
    font-size: 16px;
    color: #2c3e50;
    margin-bottom: 5px;
    font-weight: bold;
}

.battery-info {
    font-size: 14px;
    margin: 0;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Değişiklik */
    width: 100%;
}

.battery-info i {
    margin-right: 5px;
    color: #34495e;
}

.temp-input,
.volt-input {
    border: 1px solid #3498db;
    border-radius: 4px;
    padding: 2px 4px;
    width: 50px;
    text-align: center;
    margin-right: 20px;
    /* Changed */
    box-sizing: border-box;
}