.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.widget {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    /* Tüm widget'ların aynı kutu modeli kullanmasını sağlar */
    width: 100%;
    /* Tüm widget'ların aynı genişlikte olmasını sağlar */
}

.widget.battery {
    background-color: #3498db;
    color: #fff;
    height: auto;
}

/* Operational Battery widget'ı için spesifik stil */
.widget.operational-battery {
    background-color: #2ecc71;
    color: #fff;
    height: auto;
    /* Diğer widget'ların yüksekliğini sabit bırak */
}

/* Faulty Battery widget'ı için spesifik stil */
.widget.faulty-battery {
    background-color: #e67e22;
    color: #fff;
    height: auto;
    /* Diğer widget'ların yüksekliğini sabit bırak */
}

/* Battery Health widget'ı için spesifik stil */
.widget.battery-health {
    background-color: #ffffff;
    color: #000;
    border: 2px solid #27ae60;
    height: auto;
    /* Diğer widget'ların yüksekliğini sabit bırak */
}

/* Notifications widget'ı için spesifik stil */
.widget.notifications {
    background-color: #ecf0f1;
    color: #000;
    height: auto;
    /* Diğer widget'ların yüksekliğini sabit bırak */
}

.widget.full-width {
    grid-column: span 2;
}

.widget.notifications ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.widget.notifications ul li {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget.notifications ul li.normal {
    background-color: #2ecc71;
    color: #fff;
}

.widget.notifications ul li.fault {
    background-color: #e74c3c;
    color: #fff;
}

.widget.notifications ul li .timestamp {
    font-size: 0.85em;
    color: #ddd;
}