.details-container {
    display: none;
    /* İlk etapta görünmemesi için */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: transparent;
    /* Şeffaf arka plan kaldırıldı */
    z-index: 100;
    /* Ekranın önünde kalmasını sağlamak için */
    position: fixed;
    /* Konumu sabitlemek için */
    top: 50%;
    /* Ekranın ortasında kalmasını sağlamak için */
    left: 50%;
    /* Ekranın ortasında kalmasını sağlamak için */
    transform: translate(-50%, -50%);
    /* Konumu ortalamak için */
}

.details {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 450px;
    /* Yüksekliği biraz daha daralttık */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* İçeriğin taşmasını önlemek için */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

h3 {
    margin-top: 0;
}

.divider {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 10px 0;
}

#temperature-chart,
#voltage-chart {
    margin-top: 20px;
    height: 200px;
}